body {
    background-image: url(back.jpg);
}
#nagyDiv {
    width: 1000px;
    margin: auto;
}
#header {
    background-image: url(panorama.jpg);
    min-width: 650px;
    max-width: 1000px;
    height: 240px;
}
#cimer {
    float: right;
}
#box1 {
    width: 450px;
    background-color: #5B9CEA;

}
#box2 {
    width: 450px;
    background-color: #5B9CEA;
    float: right;
}